// Styling for the services section
#conversations{
  background-color: #212529;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%232d3338' fill-opacity='0.34'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");  // background-position: center;
  // color:$white;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
  height:2em;
  color:$white;
}

.conversation-descr{
  height: 10em;
}

.feed{
  // text-align:left;
  max-height:500px;
  overflow-y:scroll;
  width:100%;
  background-color:$gray-100;
  padding:1em;
  margin-top:2em;
  @include body-font;
  .feed__question{
    font-size:1.1em;
    color:$gray-700;
    font-style:italic;
    font-weight:300;
  }
  .feed__quote_box{
    @include body-font;
    margin-top:2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:1em;
    background-color:$white;
    .feed__quote{
      font-size:.9em;
      font-weight:300;
    }
    .feed__attrib{
      font-size:.9em;
      margin-left:2em;
      font-weight:300;
    }
  }
  
}
